 <section class="layout__services container-responsive">
        <div class="services__grid">
          <header class="services__header">
            <p class="services__subtitle">Que podemos hacer por ti?</p>
            <h2 class="services__title">
              Servicios que te <br />
              pueden ayudar
            </h2>
          </header>

          <div class="services__list">
            <article class="services__service services__service--bottom">
              <div class="service__container-img">
                <img
                  src="/img/icon-1.png"
                  alt="Diseño"
                  class="service__img"
                />
              </div>

              <div class="service__content">
                <h3 class="service__title">
                  <a href="#" class="service__link">Diseño</a>
                </h3>

                <p class="service__description">
                  Desde una web, pasando por una app, hasta un logotipo...
                </p>

                <a href="#" class="service__more">Leer mas</a>
              </div>
            </article>

            <article class="services__service services__service--middle">
              <div class="service__container-img">
                <img
                  src="/img/icon-2.png"
                  alt="Desarrolo"
                  class="service__img"
                />
              </div>

              <div class="service__content">
                <h3 class="service__title">
                  <a href="#" class="service__link">Desarrollo</a>
                </h3>

                <p class="service__description">
                  Las aplicaciones web y moviles que imaginas a medida...
                </p>

                <a href="#" class="service__more">Leer mas</a>
              </div>
            </article>

            <article class="services__service services__service--top">
              <div class="service__container-img">
                <img
                  src="/img/icon-3.png"
                  alt="Marketing"
                  class="service__img"
                />
              </div>

              <div class="service__content">
                <h3 class="service__title">
                  <a href="#" class="service__link">Marketing</a>
                </h3>

                <p class="service__description">
                  Le damos visibilidad a tu proyecto digital...
                </p>

                <a href="#" class="service__more">Leer mas</a>
              </div>
            </article>
          </div>
        </div>

        <ul class="services__service-shapes">
          <li class="service-shapes__item service-shapes--shape1">
            <div class="service-shapes__container">
              <img
                src="/img/circle-2.png"
                alt=""
                class="service-shapes__img"
              />
            </div>
          </li>

          <li class="service-shapes__item service-shapes--shape2">
            <div class="service-shapes__container">
              <img
                src="/img/bubble-2.png"
                alt=""
                class="service-shapes__img"
              />
            </div>
          </li>

          <li class="service-shapes__item service-shapes--shape3">
            <div class="service-shapes__container">
              <img
                src="/img/bubble-1.png"
                alt=""
                class="service-shapes__img"
              />
            </div>
          </li>
        </ul>
      </section>
