<div class="navbar">
  <div class="admin-info">
    <img [src]="fotoPerfil" alt="Admin" class="admin-avatar">
    <p class="adminpanel">Admin</p>
  </div>
  <button class="cerrarSession" (click)="cerrarSesion()"><i class="fa-solid fa-sign-out icon_cerrar"></i>Cerrar Sesión</button>
</div>

<div class="admin-container">
  <h2>Gestión de Proyectos</h2>

<div class="projects-grid">
  <div class="project-card" *ngFor="let p of proyectos">
  
    <div class="project-image-placeholder">
      <img [src]="obtenerUrlImagen(p.imagen)" [alt]="p.titulo">
    </div> 
    <div class="project-info">

  <div class="project-header">
    <div class="project-text">
      <h3>{{ p.titulo }}</h3>
      <p>{{ p.tags }}</p>
    </div>

    <div class="card-actions">
      <button class="btn-edit" title="Editar proyecto">
        <i class="fa-solid fa-pen"></i>
      </button>

      <button class="btn-delete" title="Eliminar proyecto" (click)="borrarProyecto(p._id)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>

</div>

</div>

 <div class="project-card add-card" (click)="mostrarFormulario = true">
  <div class="add-icon">
    <i class="fa-solid fa-plus"></i>
  </div>
  <span>Nuevo Proyecto</span>
</div>

<div class="modal-overlay"[class.active]="mostrarFormulario">
  <div class="modal-content">
    <button class="btn-close" (click)="mostrarFormulario = false">X</button>
    
    <app-proyecto-form (cerrar)="mostrarFormulario = false"></app-proyecto-form>
  </div>
</div>


<div *ngIf="authService.mostrarAviso" class="session-warning-container">
    <div class="session-warning-card">
        <h3>¿Sigues trabajando?</h3>
        <p>Tu sesión expirará por inactividad en <strong>{{ authService.segundosRestantes }}</strong> segundos.</p>
        <button class="session-warning-button" (click)="authService.continuarSesion()">Continuar sesión</button>
    </div>
</div>

