/*NAVBAR ADMIN*/
.adminpanel{
    font-size: 2rem;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    height: 100px;
}

.admin-info {
  display: flex;       /* Alinea imagen y texto horizontalmente */
  align-items: center; /* Centra verticalmente ambos elementos */
  gap: 15px;           /* Espacio entre la foto y el texto */
}

.admin-avatar {
  width: 50px;         /* Ajusta el tamaño de la foto */
  height: 50px;
  border-radius: 50%;  /* Esto hace que la foto sea redonda */
  object-fit: cover;   /* Asegura que la imagen no se deforme */
  border: 2px solid white; /* Un borde fino queda muy elegante */
}

/*PROYECTOS*/

.projects-grid {
  display: grid;
  /* Esto crea tarjetas de mínimo 300px, pero que crecen para rellenar */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.project-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* La tarjeta del "+" */
.add-card {
  border: 3px dashed #cbd5e0; /* Borde discontinuo */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  min-height: 100px;
  color: #718096;
}

.add-card:hover {
  border-color: #3182ce; /* Azul cuando pasas el ratón */
  color: #3182ce;
}