<div class="menu-mobile container-responsive" [class.menu-mobile--show]="isActive">
  <header class="menu-mobile__header">
    <div class="menu-mobile__container-logo">
      <a href="#" class="menu-mobile__link-logo">
        <img src="/img/logo1.png" class="logo logo-light" alt="logo claro" />
        <img src="/img/logo2.png" class="logo logo-dark" alt="logo oscuro" />
      </a>
    </div>
    <button class="menu-mobile__close" (click)="cerrar()">
      <i class="menu-mobile__icon-close fa-solid fa-xmark"></i>
    </button>
  </header>

  <div class="menu-mobile__body">
    <nav class="menu-mobile__nav">
      <ul class="menu-mobile__list">
        
        <!-- Inicio -->
        <li class="menu-mobile__item">
          <a href="#inicio" class="menu-mobile__link" (click)="cerrar()">{{ 'MENU_MOBILE.HOME' | translate }}</a>
        </li>

        <!-- Servicios -->
        <li class="menu-mobile__item">
          <a href="#servicios" class="menu-mobile__link" (click)="cerrar()">{{ 'MENU_MOBILE.SERVICES' | translate }}</a>
        </li>

        <!-- Portafolio -->
        <li class="menu-mobile__item">
          <a href="https://mi-porfolio-tawny.vercel.app/" class="menu-mobile__link" (click)="cerrar()">{{ 'MENU_MOBILE.PORTFOLIO' | translate }}</a>
        </li>

        <!-- Contacto -->
        <li class="menu-mobile__item">
          <a href="#contacto" class="menu-mobile__link" (click)="cerrar()">{{ 'MENU_MOBILE.CONTACT' | translate }}</a>
        </li>

        <!-- Admin -->
        <li (click)="loginService.abrir()" class="adminLogin menu-mobile__item menu-mobile__link">
          {{ 'MENU_MOBILE.ADMIN' | translate }}
        </li>

      </ul>
    </nav>
  </div>
</div>