<div class="menu-mobile container-responsive" [class.menu-mobile--show]="isActive">
  <header class="menu-mobile__header">
    <div class="menu-mobile__container-logo">
      <a href="#" class="menu-mobile__link-logo">
        <img src="/img/logo1.png" class="logo logo-light" alt="logo claro" />
        <img src="/img/logo2.png" class="logo logo-dark" alt="logo oscuro" />
      </a>
    </div>
    <button class="menu-mobile__close" (click)="cerrar()">
      <i class="menu-mobile__icon-close fa-solid fa-xmark"></i>
    </button>
  </header>

  <div class="menu-mobile__body">
    <nav class="menu-mobile__nav">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item">
          <a href="" class="menu-mobile__link">{{ 'MENU_MOBILE.HOME' | translate }}</a>
        </li>

        <li class="menu-mobile__item" (click)="subMenu('servicios', $event)">
          <a href="" class="menu-mobile__link">
            {{ 'MENU_MOBILE.SERVICES' | translate }}
            <i class="fa-solid fa-chevron-down menu-mobile__icon"></i>
          </a>
          <ul class="menu-mobile__submenu-mobile" [class.submenu--open]="submenuActivo==='servicios'">
            <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.WEB_DESIGN' | translate }}</a></li>
            <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.WEB_DEVELOPMENT' | translate }}</a></li>
            <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.APP_DEVELOPMENT' | translate }}</a></li>
            <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.PROGRAMMING' | translate }}</a></li>
            <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.CONSULTING' | translate }}</a></li>
          </ul>
        </li>

        <li class="menu-mobile__item" (click)="subMenu('portafolio', $event)">
          <a href="" class="menu-mobile__link">
            {{ 'MENU_MOBILE.PORTFOLIO' | translate }}
            <i class="fa-solid fa-chevron-down menu-mobile__icon"></i>
          </a>
          <ul class="menu-mobile__submenu-mobile" [class.submenu--open]="submenuActivo==='portafolio'">
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.WEB_DESIGN' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.WEB_DEVELOPMENT' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.APP_DEVELOPMENT' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.PROGRAMMING' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.CONSULTING' | translate }}</a></li>
          </ul>
        </li>

        <li class="menu-mobile__item" (click)="subMenu('blog', $event)">
          <a href="" class="menu-mobile__link">
            {{ 'MENU_MOBILE.BLOG' | translate }}
            <i class="fa-solid fa-chevron-down menu-mobile__icon"></i>
          </a>
          <ul class="menu-mobile__submenu-mobile" [class.submenu--open]="submenuActivo==='blog'">
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.WEB_DESIGN' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.WEB_DEVELOPMENT' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.APP_DEVELOPMENT' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.PROGRAMMING' | translate }}</a></li>
             <li class="submenu-mobile__item"><a href="" class="submenu-mobile__link">{{ 'MENU_MOBILE.SUBMENU.CONSULTING' | translate }}</a></li>
          </ul>
        </li>

        <li class="menu-mobile__item">
          <a href="" class="menu-mobile__link">{{ 'MENU_MOBILE.TEAM' | translate }}</a>
        </li>
        <li class="menu-mobile__item">
          <a href="" class="menu-mobile__link">{{ 'MENU_MOBILE.CONTACT' | translate }}</a>
        </li>
        <li (click)="loginService.abrir()" class="adminLogin menu-mobile__item menu-mobile__link">
          {{ 'MENU_MOBILE.ADMIN' | translate }}
        </li>
      </ul>
    </nav>
  </div>
</div>