/*ESTILOSO BOTON MODO OCURO*/

.switcher{
    position: fixed;
    top: 20rem;
    left: 0;
    background-color: var(--color--primary);
    border-radius: 0 3rem 3rem 0;
    padding: 1rem;
    z-index: 5;
}

.switcher__btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
}

.switcher__icon-light,
.switcher__icon-dark{
    color: var(--color-secondary);
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    line-height: 3.6rem;
}

:host-context(.dark)
.switcher__icon-dark{
    color: var(--color-text-body);
}

.switcher__icon-dark{
    display: block;
}

/*LOGO*/

/* Por defecto: modo claro */

body .dark .logo-light {
  display: block;
}

body .dark .logo-dark {
  display: inline;
}
