<section class="layout__reviews container-responsive">
        <div class="reviews__grid">
          <header class="reviews__header">
            <h4 class="reviews__subtitle">{{ 'REVIEW.SUBTITLE' | translate }}</h4>
            <h2 class="reviews__title">{{ 'REVIEW.TITLE' | translate }}</h2>
            <p class="reviews__description">
              {{ 'REVIEW.DESCRIPTION' | translate }}
            </p>
          </header>

          <div class="reviews__container">
            <article class="reviews__review">
              <span class="review__company">
                <img
                  src="/img/google-2.png"
                  alt=""
                  class="review__img"
                />
              </span>

              <p class="review__description">
                "{{ 'REVIEW.GOOGLE' | translate }}"
              </p>

              <div class="review__author">
                <div class="author__container-img">
                  <img
                    src="/img/yo.jpg"
                    alt="foto de usuario"
                    class="author__img"
                  />
                </div>

                <div class="author__content">
                  <span class="author__name">{{ 'REVIEW.AUTHOR_NAME' | translate }}</span>
                  <span class="author__description">{{ 'REVIEW.AUTHOR_DESCRIPTION' | translate }}</span>
                </div>
              </div>
            </article>

            <article class="reviews__review">
              <span class="review__company">
                <img src="/img/udemy.png" alt="" class="review__img" />
              </span>

              <p class="review__description">
                "{{ 'REVIEW.DESCRIPTION_2' | translate }}"
              </p>

              <div class="review__author">
                <div class="author__container-img">
                  <img
                    src="/img/yo.jpg"
                    alt="foto de usuario"
                    class="author__img"
                  />
                </div>

                <div class="author__content">
                  <span class="author__name">{{ 'REVIEW.AUTHOR_NAME' | translate }}</span>
                  <span class="author__description">{{ 'REVIEW.AUTHOR_DESCRIPTION' | translate }}</span>
                </div>
              </div>
            </article>

            <article class="reviews__review">
              <span class="review__company">
                <img
                  src="/img/youtube.png "
                  alt=""
                  class="review__img"
                />
              </span>

              <p class="review__description">
                "{{ 'REVIEW.YOUTUBE' | translate }}"
              </p>

              <div class="review__author">
                <div class="author__container-img">
                  <img
                    src="/img/yo.jpg"
                    alt="foto de usuario"
                    class="author__img"
                  />
                </div>

                <div class="author__content">
                  <span class="author__name">{{ 'REVIEW.AUTHOR_NAME' | translate }}</span>
                  <span class="author__description">{{ 'REVIEW.AUTHOR_DESCRIPTION' | translate }}</span>
                </div>
              </div>
            </article>
          </div>
        </div>

        <ul class="reviews__review-shapes">
          <li class="review-shapes__item review-shapes--shape3">
            <div class="review-shapes__container">
              <img
                src="/img/bubble-1.png"
                alt=""
                class="review-shapes__img"
              />
            </div>
          </li>
        </ul>
      </section>
