<section class="layout__reviews container-responsive">
        <div class="reviews__grid">
          <header class="reviews__header">
            <h4 class="reviews__subtitle">Reseñas</h4>
            <h2 class="reviews__title">Que dicen nuestros clientes?</h2>
            <p class="reviews__description">
              Nuestros clientes siempre salen satisfechos con sus webs y apps
            </p>
          </header>

          <div class="reviews__container">
            <article class="reviews__review">
              <span class="review__company">
                <img
                  src="/img/google-2.png"
                  alt=""
                  class="review__img"
                />
              </span>

              <p class="review__description">
                "En Google podras buscar todo lo que necesites es importante
                saber manejarlo con soltura, sera muy util a lal hora de buscar
                errores."
              </p>

              <div class="review__author">
                <div class="author__container-img">
                  <img
                    src="/img/yo.jpg"
                    alt="foto de usuario"
                    class="author__img"
                  />
                </div>

                <div class="author__content">
                  <span class="author__name">Calixto Bocamba</span>
                  <span class="author__description">Desarrollador web</span>
                </div>
              </div>
            </article>

            <article class="reviews__review">
              <span class="review__company">
                <img src="/img/udemy.png" alt="" class="review__img" />
              </span>

              <p class="review__description">
                "Aqui hay muchos cursos de programacion y desarrollo web para
                empezar desde 0 hasta convertirse en un profesional."
              </p>

              <div class="review__author">
                <div class="author__container-img">
                  <img
                    src="/img/yo.jpg"
                    alt="foto de usuario"
                    class="author__img"
                  />
                </div>

                <div class="author__content">
                  <span class="author__name">Calixto Bocamba</span>
                  <span class="author__description">Desarrollador web</span>
                </div>
              </div>
            </article>

            <article class="reviews__review">
              <span class="review__company">
                <img
                  src="/img/youtube.png "
                  alt=""
                  class="review__img"
                />
              </span>

              <p class="review__description">
                "En Youtube tienes todo tipo de videos que te seran de ayuda
                desde los conceptos basicos, problemas del dia a dia, hasta
                cosas mas avanzadas."
              </p>

              <div class="review__author">
                <div class="author__container-img">
                  <img
                    src="/img/yo.jpg"
                    alt="foto de usuario"
                    class="author__img"
                  />
                </div>

                <div class="author__content">
                  <span class="author__name">Calixto Bocamba</span>
                  <span class="author__description">Desarrollador web</span>
                </div>
              </div>
            </article>
          </div>
        </div>

        <ul class="reviews__review-shapes">
          <li class="review-shapes__item review-shapes--shape3">
            <div class="review-shapes__container">
              <img
                src="/img/bubble-1.png"
                alt=""
                class="review-shapes__img"
              />
            </div>
          </li>
        </ul>
      </section>
