<section class="layout__news container-responsive">
        <div class="news__container">
          <header class="news__header">
            <h4 class="news__subtitle">{{ 'NEWS.SUBTITLE' | translate }}</h4>
            <h2 class="news__title">{{ 'NEWS.TITLE' | translate }}</h2>
            <p class="news__description">
              {{ 'NEWS.DESCRIPTION' | translate }}
            </p>
          </header>

          <div class="news__list">
            <article class="news__new">
              <div class="new__container-img">
                <img
                  src="/img/story-1.jpg"
                  alt="Primera noticia"
                  class="new__img"
                />
              </div>
              <div class="new__content">
                <h3 class="new__title">
                  <a href="#" class="new__link">
                    {{ 'NEWS.LINK' | translate }}
                  </a>
                </h3>

                <p class="new__description">
                  {{ 'NEWS.NEWS_DESCRIPTION' | translate }}
                </p>

                <a href="#" class="new__more">
                  {{ 'NEWS.READ_MORE' | translate }}
                  <i class="fa-solid fa-chevron-right new__icon"></i>
                </a>
              </div>
            </article>

            <article class="news__new">
              <div class="new__container-img">
                <img
                  src="/img/story-2.jpg"
                  alt="Segunda noticia"
                  class="new__img"
                />
              </div>
              <div class="new__content">
                <h3 class="new__title">
                  <a href="#" class="new__link">
                    {{ 'NEWS.LINK_2' | translate }}
                  </a>
                </h3>

                <p class="new__description">
                  {{ 'NEWS.DESCRIPTION_2' | translate }}
                </p>

                <a href="#" class="new__more">
                  {{ 'NEWS.READ_MORE' | translate }}
                  <i class="fa-solid fa-chevron-right new__icon"></i>
                </a>
              </div>
            </article>
          </div>
        </div>

        <ul class="news__new-shapes">
          <li class="new-shapes__item new-shapes--shape1">
            <div class="new-shapes__container">
              <img
                src="/img/bubble-1.png"
                alt=""
                class="new-shapes__img"
              />
            </div>
          </li>

          <li class="new-shapes__item new-shapes--shape2">
            <div class="new-shapes__container">
              <img
                src="/img/line-1.png"
                alt=""
                class="new-shapes__img"
              />
            </div>
          </li>

          <li class="new-shapes__item new-shapes--shape3">
            <div class="new-shapes__container">
              <img
                src="/img/line-2.png"
                alt=""
                class="new-shapes__img"
              />
            </div>
          </li>

          <li class="new-shapes__item new-shapes--shape4">
            <div class="new-shapes__container">
              <img
                src="/img/bubble-2.png"
                alt=""
                class="new-shapes__img"
              />
            </div>
          </li>
        </ul>
      </section>
