
<div class="contact-container">
  
  <div class="contact-info">
    <div class="info-content">
      <div class="user-icon"><img src="/img/img_perfil.png" alt="" class="icon__img"></div> 
      <h2>INFORMACIÓN DE CONTACTO</h2>
      
      <div class="info-details">
        <p><i class="fa-solid fa-mail-bulk"></i> info.contact&#64;correo.com</p>
        <p><i class="fa-solid fa-phone"></i> +34 912345678</p>
      </div>
    </div>
  </div>

<div class="formulario_contacto">
    <h2 >Formularios De Contacto</h2>
    <form action="" [formGroup]="formulario" (ngSubmit)="onSubmit()" method="post">
        <div class="field">
            <label for="nombre">Nombre Completo:</label>
            <input type="text" id="nombre" formControlName="nombre">

            <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
                <span *ngIf="formulario.get('nombre')?.errors?.['required']">
                    El nombre es obligatorio
                </span>

                <span *ngIf="formulario.get('nombre')?.errors?.['minlength']">
                    El nombre es muy corto
                </span>

                <span *ngIf="formulario.get('nombre')?.errors?.['maxlength']">
                    El nombre es muy largo
                </span>
            </div>
        </div>

        <div class="field">
            <label for="email">email:</label>
            <input type="email" id="email" formControlName="email">

            <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
                <span *ngIf="formulario.get('email')?.errors?.['required']">
                    El email es obligatorio
                </span>

                <span *ngIf="formulario.get('email')?.errors?.['email']">
                    El email no es valido
                </span>
            </div>
        </div>

        <div class="field">
            <label for="edad">edad:</label>
            <input type="number" id="edad" formControlName="edad">

            <div *ngIf="formulario.get('edad')?.invalid && formulario.get('edad')?.touched">
                <span *ngIf="formulario.get('edad')?.errors?.['required']">
                    El edad es obligatoria
                </span>

                <span *ngIf="formulario.get('edad')?.errors?.['min']">
                    La edad minima es 18
                </span>
            </div>
        </div>

        <div class="field">
            <label for="mensaje">Mensaje:</label>
            <textarea type="text" id="mensaje" formControlName="mensaje"></textarea>

            <div *ngIf="formulario.get('mensaje')?.invalid && formulario.get('mensaje')?.touched">
                <span *ngIf="formulario.get('mensaje')?.errors?.['required']">
                    El campo mensaje es obligatorio
                </span>

                <span *ngIf="formulario.get('mensaje')?.errors?.['minlength']">
                    El mensaje es muy corto
                </span>
            </div>
        </div>
        <button type="submit" [disabled]="formulario.invalid">Enviar</button>
    </form>
</div>
