
<div class="contact-container">
  
  <div class="contact-info">
    <div class="info-content">
      <div class="user-icon"><img src="/img/img_perfil.png" alt="" class="icon__img"></div> 
      <h2>{{'FORM.CONTACT_INFORMATION' |translate}}</h2>
      
      <div class="info-details">
        <p><i class="fa-solid fa-mail-bulk"></i> info.contact&#64;correo.com</p>
        <p><i class="fa-solid fa-phone"></i> +34 912345678</p>
      </div>
    </div>
  </div>

<div class="formulario_contacto">
    <h2 >{{'FORM.CONTACT_FORM' |translate}}</h2>
    <form action="" [formGroup]="formulario" (ngSubmit)="onSubmit()" method="post">
        <div class="field">
            <label for="nombre">{{'FORM.NAME' |translate}}:</label>
            <input type="text" id="nombre" formControlName="nombre">

            <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
                <span *ngIf="formulario.get('nombre')?.errors?.['required']">
                    {{'FORM.NAME_REQUIRED' |translate}}
                </span>

                <span *ngIf="formulario.get('nombre')?.errors?.['minlength']">
                    {{'FORM.NAME_SHORT' |translate}}
                </span>

                <span *ngIf="formulario.get('nombre')?.errors?.['maxlength']">
                    {{'FORM.NAME_LONG' |translate}}
                </span>
            </div>
        </div>

        <div class="field">
            <label for="email">{{'FORM.EMAIL' |translate}}:</label>
            <input type="email" id="email" formControlName="email">

            <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
                <span *ngIf="formulario.get('email')?.errors?.['required']">
                    {{'FORM.EMAIL_REQUIRED' |translate}}
                </span>

                <span *ngIf="formulario.get('email')?.errors?.['email']">
                    {{'FORM.EMAIL_INVALID' |translate}}
                </span>
            </div>
        </div>

        <div class="field">
            <label for="edad">{{'FORM.AGE' |translate}}:</label>
            <input type="number" id="edad" formControlName="edad">

            <div *ngIf="formulario.get('edad')?.invalid && formulario.get('edad')?.touched">
                <span *ngIf="formulario.get('edad')?.errors?.['required']">
                    {{'FORM.AGE_REQUIRED' |translate}}
                </span>

                <span *ngIf="formulario.get('edad')?.errors?.['min']">
                    {{'FORM.AGE_MIN' |translate}}
                </span>
            </div>
        </div>

        <div class="field">
            <label for="mensaje">{{'FORM.MESSAGE' |translate}}:</label>
            <textarea type="text" id="mensaje" formControlName="mensaje"></textarea>

            <div *ngIf="formulario.get('mensaje')?.invalid && formulario.get('mensaje')?.touched">
                <span *ngIf="formulario.get('mensaje')?.errors?.['required']">
                    {{'FORM.MESSAGE_REQUIRED' |translate}}
                </span>

                <span *ngIf="formulario.get('mensaje')?.errors?.['minlength']">
                    {{'FORM.MESSAGE_SHORT' |translate}}
                </span>
            </div>
        </div>
        <button type="submit" [disabled]="formulario.invalid">{{'FORM.SUBMIT' |translate}}</button>
    </form>
</div>
