/*ESTILOS DE CONTACTO*/

.layout__contact{
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 14rem;
    padding-bottom: 10rem;
}

:host-context(.dark)
.layout__contact::before{
    background-color: var(--color-secondary);
}

.layout__contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 65rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color--primary);
    z-index: -1;
}

.contact__container{
    max-width: var(--mx-width);
    margin: 0 auto;
    overflow: hidden;
}

.contact__header{
    margin-bottom: 6.5rem;
    text-align: center;
}

:host-context(.dark)
.contact__subtitle{
    color: var(--color-bg-dark);
}

:host-context(.dark)
.contact__title{
    color: var(--color-title);
}


.contact__subtitle{
    display: inline-block;
    color: var(--color-bg-btn);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.contact__title{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5.5rem;
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-secondary);
}

:host-context(.dark)
.contact__btn{ 
   background-color: var(--color--primary);
   color: var(--color-title);
}

.contact__btn{
   display: inline-block;
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 2.3rem 5.5rem; 
   background-color: var(--color-secondary);
   border-radius: 20px;
   font-weight: 700;
   text-align: center;
   transition: all 300ms ease-in-out;
}

:host-context(.dark)
.contact__btn:hover{
    background-color: var(--color-bg-btn);
}

.contact__btn:hover{
    background-color: var(--color-bg-btn);
}

.contact__images{
    position: relative;
    text-align: center;
    border-bottom: 1px solid var(--color-borders);
}

.contact__thumb{
    display: inline-block;
}

.contact__thumb--chat{
    margin-right: -26rem;
    margin-bottom:-0.8rem ;
    
}

.contact__thumb--laptop{
    position: absolute;
    bottom: 0;
    left: 20rem;
 
}

.contact__thumb--mobile{
    position: absolute;
    bottom: 0;
    right: 4rem;
}

.backshapes__item{
    position: absolute;
    z-index: -1;
}

.backshapes--shape1{
   top: 0;
   left: 35%;
}

.backshapes--shape2{
    top:18rem;
    left: 18%;
    opacity: 0.5;
    animation: moveShape3 20s infinite;
}

.backshapes--shape3{
    top:31%;
    left: 20%;
    animation: moveShape4 25s infinite;
}

.backshapes--shape4{
    top:44%;
    left: 28%;
    animation: moveShape3 25s infinite;
}

.backshapes--shape5{
    top:50%;
    right: 17%;
    animation: moveShape4 30s infinite;
}

.backshapes--shape6{
    top:26%;
    right: 21%;
    animation: moveShape5 30s infinite;
}

.backshapes--shape3{
    top:30%;
    right: 15%;
    animation: moveShape3 30s infinite;
}


@media(max-width:1000px){
    .layout__contact{
        padding-top: 6rem;
        padding-bottom: 0;
    }

    .contact__title{
        width: 90%;
        font-size: 5rem;
    }
    .contact__header{
        padding-bottom: 6rem;
    }

    .contact__btn{
        width: 60%;
        height: 6rem;
        padding: 1.8rem 3.5rem
    }
    
    .contact__images{
        position: relative;
        width: 40%;
        bottom: 6rem;
        left: 1rem;
    }

    .contact__thumb--chat{
        width: 120%;
    }

    .layout__contact::before{
        height: 53rem;
    }

   .contact__thumb--mobile{
        width: 60%;
        left: 24rem;
   }

   .contact__thumb--laptop{
        width: 60%;
        left: 5rem;
   }

    :host-context(.dark)
   .contact__subtitle{
        color: var(--color-title);
   }

}

@media(max-width:640px){
    .contact__btn{
        width: 70%;
        height: 5rem;
        padding: 1.3rem 3.5rem
    }
}

@media(max-width:370px){
    .contact__btn{
        width: 70%;
        height: 5rem;
        padding: 1.3rem 2.5rem
    }
}