 
 @if (!verFormulario) {
    <section class="layout__contact container-responsive">
        <div class="contact__container">
          <header class="contact__header">
            <h4 class="contact__subtitle">{{ 'CONTACT.SUBTITLE' | translate }}</h4>
            <h2 class="contact__title">{{ 'CONTACT.TITLE' | translate }}</h2>
            <a routerLink="#" class="contact__btn" (click)="activarForumulario()">{{ 'CONTACT.BUTTON' | translate }}</a>
          </header>

          <div class="contact__images">
            <div class="contact__thumb contact__thumb--chat">
              <img
                src="/img/chat-group.png"
                alt=""
                class="contact__img"
              />
            </div>

            <div class="contact__thumb contact__thumb--laptop">
              <img
                src="/img/laptop-poses.png"
                alt=""
                class="contact__img"
              />
            </div>

            <div class="contact__thumb contact__thumb--mobile">
              <img
                src="/img/men-mobile.png"
                alt=""
                class="contact__img"
              />
            </div>
          </div>
        </div>

        <ul class="contact__backshapes">
          <li class="backshapes__item backshapes--shape1">
            <img
              src="/img/bubble-12.png"
              alt=""
              class="backshapes__img"
            />
          </li>

          <li class="backshapes__item backshapes--shape2">
            <img
              src="/img/bubble-16.png"
              alt=""
              class="backshapes__img"
            />
          </li>

          <li class="backshapes__item backshapes--shape3">
            <img
              src="/img/bubble-13.png"
              alt=""
              class="backshapes__img"
            />
          </li>

          <li class="backshapes__item backshapes--shape4">
            <img
              src="/img/bubble-14.png"
              alt=""
              class="backshapes__img"
            />
          </li>

          <li class="backshapes__item backshapes--shape5">
            <img
              src="/img/bubble-16.png"
              alt=""
              class="backshapes__img"
            />
          </li>

          <li class="backshapes__item backshapes--shape6">
            <img
              src="/img/bubble-15.png"
              alt=""
              class="backshapes__img"
            />
          </li>

          <li class="backshapes__item backshapes--shape7">
            <img
              src="/img/bubble-16.png"
              alt=""
              class="backshapes__img"
            />
          </li>
        </ul>
      </section>
 }@else{
  <app-formulario (cerrar)="desactivarFormulario()"></app-formulario>
 }

 
