:host{
display: block;
width: 100%;
}

.layout__menu{
    width: 95%;
    margin: 0 auto;
    padding: 3.5rem 3rem;
}

.menu__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

:host-context(.dark) 
.menu__navbar--fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: var(--color-secondary)!important;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 10%);
    padding: 1.5rem 8rem;
}

.navbar__logo{
    width: 187px;
    min-width: 100px;
    flex-shrink: 0;
}

.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.nav__item{
    position: relative;
    margin: 0 2.4rem;
}

.nav__title{
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--color-text-body);
    line-height: 6rem;
    transition: all 300ms ease-in-out;
}

.nav__icon{
    font-size:1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: middle;
}

.nav__title:hover{
    color: var(--color--primary);
}

.nav__title::before{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color--primary);
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    opacity: 0;
    transition: 500ms;
}

.nav__title:hover::before{
    width: 100%;
    opacity: 1;
}

.nav__submenu{
    display: block;
    position: absolute;
    top:100%;
    left: 2rem;
    min-width: 19rem;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    background-color: var(--color-secondary);
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.submenu__item{
    opacity: 1;
    transform: translateX(2rem);
    transition: all 300ms ease-in-out;
}

.submenu__item:nth-child(1){
    transition-delay:100ms;
}

.submenu__item:nth-child(2){
    transition-delay:200ms;
}

.submenu__item:nth-child(3){
    transition-delay:300ms;
}

.submenu__item:nth-child(4){
    transition-delay:400ms;
}

.submenu__item:nth-child(5){
    transition-delay:500ms;
}

.submenu__item:nth-child(6){
    transition-delay:600ms;
}

.submenu__title{
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);
    padding: 0.7rem 1.5rem;
    transition: all 300ms ease-in-out;
}

.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 999;
    left: 0;
}

.nav__item:hover .submenu__item{
    opacity: 1;
    transform: translateX(0);
}

.submenu__title:hover{
    color: var(--color--primary);
}

.submenu__title::after{
    content: "";
    height: 0.1rem;
    width: 0;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--color--primary);
    transition: all 300ms ease-in-out;
}

.submenu__title:hover::after{
    width: 100%;
}

.logo-dark {
  display: block;
}

.navbar__mobile-btn{
    display: none;
}

.mobile-btn__wrap{
    height: 5rem;
    width: 5rem;
    background-color: var(--color-text-body);
    border: none;
    border-radius: 3.2rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-btn__line{
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color-secondary);
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.mobile-btn__line:last-child{
    width: 1rem;
    margin-right: -1rem;
}


@media (max-width:1000px){
    .navbar__nav{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .navbar__mobile-btn{
    display: block;
    }
}

.adminLogin{
    cursor: pointer;
    color: black;
}

.adminLogin:hover{
    color: black;
}


.adminLogin::before{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: red;
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    opacity: 0;
    transition: 500ms;
}   

/*Apartado de Traduccion*/

.translate-container {
  display: flex;
  gap: 5px; /* Pequeña separación */
  align-items: center;
}


/* Contenedor que agrupa los botones */
.language-switcher {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden; /* Esto hace que los botones queden "encerrados" */
  padding: 2px;
}

.translate {
  background: transparent;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  color: #666;
  transition: all 0.3s;
}

/* Efecto al pasar el mouse */
.translate:hover {
  background-color: #e5e7eb;
  color: #000;
}

/* El botón seleccionado tendrá este color */
.translate.active {
  background-color: #3b82f6; /* Azul de tu diseño */
  color: white;
  border-radius: 6px;
}

/* Estilo Móvil */
@media (max-width: 400px) {
    .translate-container {
        width: 100%; 
        justify-content: center;
        gap: 2px;
        margin-left: 0.7rem;
    }
    
    .translate {
        padding: 4px 8px; /* Reducimos el padding para que quepan mejor */
        font-size: 15px;  /* Reducimos un poco la fuente */
    }

    .navbar__logo{
        width: 100px;
        margin-right: 1rem;
    }
}

@media (min-width:400px) and (max-width:480px){
    .menu__navbar--fixed .translate-container{
         margin-left: 1.4rem;
    }

    .navbar__logo{
        width: 100px;
        margin-right: 1rem;
    }
}
