<section class="layout__menu container-responsive">
        <header class="menu__navbar" [ngClass]="{'menu__navbar--fixed': isNavbarFixed }">
          <!--LOGO-->
          <div class="navbar__logo">
            <a href="#" class="navbar__link-logo">
              <img src="/img/logo1.png" class="logo logo-light" alt="logo claro" *ngIf="!isDarkMode"/>
              <img src="/img/logo2.png" class="logo logo-dark" alt="logo oscuro" *ngIf="isDarkMode"/>
            </a>
          </div>

          <!--BOTON DE MENU RESPONSIVE-->

          <div class="navbar__mobile-btn" (click)="metodoPulse()">
            <button class="mobile-btn__wrap">
              <span class="mobile-btn__line"></span>
              <span class="mobile-btn__line"></span>
              <span class="mobile-btn__line"></span>
            </button>
          </div>

          <!--NAVEGACION-->
          <nav class="navbar__nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="" class="nav__title">Inicio</a>
              </li>

              <li class="nav__item">
                <a href="" class="nav__title"
                  >Servicios
                  <i class="fa-solid fa-chevron-down nav__icon"></i>
                </a>

                <ul class="nav__submenu">
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Diseño web</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Desarrollo Web</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Desarrollo Apps</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Programacion</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Consultoria</a>
                  </li>
                </ul>
              </li>

              <li class="nav__item">
                <a href="" class="nav__title"
                  >Portafolio
                  <i class="fa-solid fa-chevron-down nav__icon"></i>
                </a>

                <ul class="nav__submenu">
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Diseño web</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Desarrollo Web</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Desarrollo Apps</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Programacion</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Consultoria</a>
                  </li>
                </ul>
              </li>

              <li class="nav__item">
                <a href="" class="nav__title"
                  >Blog
                  <i class="fa-solid fa-chevron-down nav__icon"></i>
                </a>

                <ul class="nav__submenu">
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Diseño web</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Desarrollo Web</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Desarrollo Apps</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Programacion</a>
                  </li>
                  <li class="submenu__item">
                    <a href="" class="submenu__title">Consultoria</a>
                  </li>
                </ul>
              </li>

              <li class="nav__item">
                <a href="" class="nav__title">Equipo</a>
              </li>

              <li class="nav__item">
                <a href="" class="nav__title">Contacto</a>
              </li>

              <li (click)="loginService.abrir()" class="adminLogin nav__item nav__title">Admin</li>
            </ul>
          </nav>
        </header>
      </section>
