   <!--PROYECTOS-->

      <section class="layout__projects container-responsive">
        <div class="projects__grid">
          <header class="projects__header">
            <p class="projects__subtitle">Nuestros Proyectos</p>
            <h2 class="projects__title">
              Algunos de nuestros <br />
              mejores trabajos
            </h2>
          </header>

          <ul class="projects__categories">
            <li class="categories__item categories__item--active">Todos los trabajos</li>

            <li class="categories__item">Desarrollo web</li>

            <li class="categories__item">Desarrollo movil</li>

            <li class="categories__item">Diseño web</li>
          </ul>

          @if (cargando) {
              <p class="cargando">Despertando al servidor, un segundo por favor... ☕</p>
          }@else {
            <div class="projects__all">
            @for (proyecto of listaproyectos; track proyecto._id) {
              <article class="projects__project">
              <div class="project__container-img">
                <a href="#" class="project__link-img">
                  <img
                    [src]="'https://landingpage-ezzw.onrender.com' + proyecto.imagen"
                    alt="Imagen de un proyecto"
                    class="project__img"
                  />
                </a>
              </div>

              <div class="project__content">
                <h3 class="project__title">
                  <a href="#" class="project__link-title"> {{proyecto.titulo}} </a>
                </h3>
                <div class="project__tags">
                  <span class="project__tag">{{proyecto.tags}}</span>
                </div>
              </div>
            </article>
            }

          </div>
          }

        </div>

        <ul class="projects__project-shapes">
          <li class="project-shapes__item project-shapes--shape1">
            <div class="project-shapes__container">
              <img
                src="/img/circle-2.png"
                alt=""
                class="project-shapes__img"
              />
            </div>
          </li>

          <li class="project-shapes__item project-shapes--shape2">
            <div class="project-shapes__container">
              <img
                src="/img/bubble-2.png"
                alt=""
                class="project-shapes__img"
              />
            </div>
          </li>

          <li class="project-shapes__item project-shapes--shape3">
            <div class="project-shapes__container">
              <img
                src="/img/bubble-1.png"
                alt=""
                class="project-shapes__img"
              />
            </div>
          </li>
        </ul>
      </section>

