/*VARIABLES*/
:root{
    --mx-width:1320px;
    --color-text-body:#d3d3d4;
    --color--primary:#5956e9;
    --color-secondary:#d3d3d4;
    --color-banner:#27272e;
    --color-text-btn:#fff;
    --color-bg-btn:#2522ba;
    --color-subtitle:#c75c6f;
    --color-title:#d3d3d4;
    --color-bg-services: #27272e;
    --color-bg-proyects: #292930;
    --color-bg-dark: #27272e;
    --color-text-description:#99a1aa;
    --color-hover-dark: #ffdc60;
    --color-borders: #393940;
}

body{
    background-color:#212121 ;
}

.nav__title:hover{
    color:var(--color-secondary) ;
}

.nav__title::before{
    background-color: var(--color-secondary);
}

.submenu__title:hover{
    color: var(--color-secondary) ;
}

.submenu__title::after{
    background-color:var(--color-secondary);
}

.nav__submenu{
    background-color: var(--color-banner);
}

.banner__bnt{
    background-color: var(--color--primary);
}

.menu__navbar--fixed{
    background-color: var(--color-banner);
}

.services__service{
    background: var(--color-banner);
    background-color:var(--color-banner) ;
}

.project__content{
    background-color: var(--color-banner);
}

.project__title:hover{
    color: var(--color-hover-dark);
}

.layout__contact::before{
    background-color: var(--color-banner);
}

.new__more{
    color:var(--color-text-body) ;
}

.contact__subtitle{
    color: var(--color-bg-dark);
}

.contact__btn{
    background-color: var(--color--primary);
}
.fleft__group{
    background-color: var(--color-banner);
    box-shadow: none;
}

.fleft__form-control{
    background-color: var(--color-banner);
}

.widget__link:hover{
    color: var(--color-hover-dark);
}

.social__link:hover > .social__img{
    color: var(--color-hover-dark);
}

.menu-mobile__close{
    color: var(--color-secondary);
}

.mobile-btn__wrap{
    background-color: var(--color-secondary);
}

.mobile-btn__line{
    background-color: var(--color-bg-dark);
}

.navbar__mobile-btn{
    color: var(--color-banner);
}

.menu-mobile{
    background-color: var(--color-banner);
}