<footer class="layout__footer container-responsive">

        <div class="footer__container">

           <section class="footer__top">
              <ul class="footer__social">
                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-facebook-f social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-twitter social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-youtube social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-linkedin social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-instagram social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-pinterest-p social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-vimeo-v social__img"></i>
                  </a>
                </li>

                <li class="social__item">
                  <a href="#" class="social__link">
                    <i class="fa-brands fa-behance social__img"></i>
                  </a>
                </li>

              </ul>
           </section>

           <section class="footer__main">
              <div class="footer__fleft">
                  <div class="fleft__container">
                    <h2 class="fleft__title">Contactanos!</h2>
                    <p class="fleft__subtitle">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit,
                         Mollitia, rem autem doloribus adipisicing elit.
                    </p>

                    <form action="" class="fleft__form">
                      <div class="fleft__group">
                        <span class="fleft__mail-icon">
                          <i class="fa-solid fa-envelope-open-text fleft__img"></i>
                        </span>

                        <input type="text" class="fleft__form-control" placeholder="Correo Electronico">
                        <button type="submit" class="fleft__btn">Suscribete</button>
                      </div>
                    </form>
                  </div>
              </div>

              <div class="footer__right">
                  <div class="footer__widget footer__widget--50">
                    <h6 class="widget__title">Servicios</h6>

                    <ul class="widget__list">
                      <li class="widget__item">
                        <a href="#" class="widget__link">Diseño</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Desarrollo</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Programacion</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Marketing</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Consultorio</a>
                      </li>
                    </ul>
                  </div>

                  <div class="footer__widget footer__widget--25">
                    <h6 class="widget__title">Recursos</h6>

                    <ul class="widget__list">
                      <li class="widget__item">
                        <a href="#" class="widget__link">Blog</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Formacion</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Portafolio</a>
                      </li>
                    </ul>
                  </div>

                  <div class="footer__widget footer__widget--25">
                    <h6 class="widget__title">Soporte</h6>

                    <ul class="widget__list">
                      <li class="widget__item">
                        <a href="#" class="widget__link">Contacto</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Politica de provacidad</a>
                      </li>
                       <li class="widget__item">
                        <a href="#" class="widget__link">Termino de uso</a>
                      </li>
                    </ul>
                  </div>
              </div>
           </section>

           <section class="footer__bottom">
              <div class="footer__copyright">
                <span class="copyright__text">
                  &copy; 2025. Todos los derechos reservados a <a href="https://caliixto.github.io/MiPorfolio/" target="_blank">Calixto Bocamba</a> .
                </span>
              </div>

              <div class="footer__links">
                <ul class="footer__flinks">
                  <li class="flinks__item flinks__item--separator">
                    <a href="#" class="flinks__title">Politica de Privacidad</a>
                  </li>

                  <li class="flinks__itemflinks">
                    <a href="#" class="flinks__title">Terminos de uso</a>
                  </li>
                </ul>
              </div>
           </section>
        </div>
      </footer>
