<footer class="layout__footer container-responsive">

  <div class="footer__container">

    <section class="footer__top">
        <ul class="footer__social">
          <!-- LinkedIn -->
          <li class="social__item">
            <a href="TU_LINKEDIN" target="_blank" class="social__link">
              <i class="fa-brands fa-linkedin social__img"></i>
            </a>
          </li>
          <!-- GitHub -->
          <li class="social__item">
            <a href="https://github.com/caliixto" target="_blank" class="social__link">
              <i class="fa-brands fa-github social__img"></i>
            </a>
          </li>
        </ul>
    </section>

    <section class="footer__main">
      <!-- Sección Izquierda: Contacto -->
      <div class="footer__fleft">
        <div class="fleft__container">
          <h2 class="fleft__title">{{ 'FOOTER.FLEFT_TITLE' | translate }}</h2>
          <p class="fleft__subtitle">
            {{ 'FOOTER.FLEFT_SUBTITLE' | translate }}
          </p>
        </div>
      </div>

      <div class="footer__right">
        <!-- Columna 1: Mi Perfil -->
        <div class="footer__widget footer__widget--33">
          <h6 class="widget__title">{{ 'FOOTER.COL1_TITLE' | translate }}</h6>
          <ul class="widget__list">
            <li class="widget__item"><a href="https://mi-porfolio-tawny.vercel.app/#about" class="widget__link">{{ 'FOOTER.COL1_LINK1' | translate }}</a></li>
            <li class="widget__item"><a href="https://mi-porfolio-tawny.vercel.app/#skills" class="widget__link">{{ 'FOOTER.COL1_LINK2' | translate }}</a></li>
            <li class="widget__item"><a href="https://mi-porfolio-tawny.vercel.app/#projects" class="widget__link">{{ 'FOOTER.COL1_LINK3' | translate }}</a></li>
          </ul>
        </div>

        <!-- Columna 2: Enlaces -->
        <div class="footer__widget footer__widget--33">
          <h6 class="widget__title">{{ 'FOOTER.COL2_TITLE' | translate }}</h6>
          <ul class="widget__list">
            <li class="widget__item"><a href="#" class="widget__link">{{ 'FOOTER.COL2_LINK1' | translate }}</a></li>
            <li class="widget__item"><a href="https://github.com/caliixto" class="widget__link">{{ 'FOOTER.COL2_LINK2' | translate }}</a></li>
            <li class="widget__item"><a href="/curriculum/MiCurriculum.pdf" class="widget__link" download="MiCurriculum.pdf">{{ 'FOOTER.COL2_LINK3' | translate }}</a></li>
          </ul>
        </div>

        <!-- Columna 3: Contacto -->
        <div class="footer__widget footer__widget--33">
          <h6 class="widget__title">{{ 'FOOTER.COL3_TITLE' | translate }}</h6>
          <ul class="widget__list">
            <li class="widget__item"><a href="mailto:calixto2jcc@gmail.com" class="widget__link">{{ 'FOOTER.COL3_LINK1' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__bottom">
      <div class="footer__copyright">
        <span class="copyright__text">
          &copy; {{ 'FOOTER.RIGHTS' | translate }} <a href="https://mi-porfolio-tawny.vercel.app/" target="_blank">{{ 'FOOTER.AUTHOR' | translate }}</a>.
        </span>
      </div>

      <div class="footer__links">
        <ul class="footer__flinks">
          <li class="flinks__item flinks__item--separator">
            <a href="#" class="flinks__title">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
          </li>
          <li class="flinks__item">
            <a href="#" class="flinks__title">{{ 'FOOTER.TERMS_OF_USE' | translate }}</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>
