<div class="form-container">
  <h2>{{ esModoEdicion ? 'Editar Proyecto' : 'Crear Nuevo Proyecto' }}</h2>

  <form [formGroup]="formulario" (ngSubmit)="guardarOActualizar()">
    <label>Título:</label>
    <input formControlName="titulo" placeholder="Título" class="form-control">

    <label>Tags:</label>
    <input formControlName="tags" placeholder="Tags" class="form-control">

    <label>Imagen:</label>
    <input type="file" (change)="subirArchivo($event)">
    
    <button type="submit" [disabled]="formulario.invalid">
      {{ esModoEdicion ? 'Actualizar Cambios' : 'Guardar Proyecto' }}
    </button>

    <div *ngIf="mensajeExito" class="toast-success">
      ¡Proyecto guardado correctamente!
    </div>
</form>
</div>
