<div class="form-container">
  <h2>{{ esModoEdicion ? 'Editar Proyecto' : 'Crear Nuevo Proyecto' }}</h2>

  <form [formGroup]="formulario" (ngSubmit)="guardarOActualizar()">
    <label>Título:</label>
    <input formControlName="titulo" placeholder="Título" class="form-control">

    <label>Tags:</label>
    <input formControlName="tags" placeholder="Tags" class="form-control">

    <label>URL del Proyecto:</label>
    <input formControlName="linkEnVivo" placeholder="https://tu-proyecto.com" class="form-control" type="url">

    <label>Imagen:</label>
    <div *ngIf="esModoEdicion && proyectoAEditar?.imagen" class="image-preview">
      <p>Imagen actual:</p>
      <img [src]="obtenerUrlImagen(proyectoAEditar.imagen)" alt="Actual" width="100">
    </div>

    <input type="file" (change)="subirArchivo($event)">
    
    <button type="submit" [disabled]="formulario.invalid && !esModoEdicion">
      {{ esModoEdicion ? 'Actualizar Cambios' : 'Guardar Proyecto' }}
    </button>

    <div *ngIf="mensajeExito" class="toast-success">
      ¡{{ esModoEdicion ? 'Actualizado' : 'Guardado' }} correctamente!
    </div>
  </form>
</div>