 <section class="layout__banner container-responsive">
        <!--Contenido del banner-->
        <header class="banner__content">
          <h1 class="banner__title">{{ 'BANNER.WEB DESIGN & DEVELOPMENT' | translate }}</h1>
          <a href="#" class="banner__bnt">{{ 'BANNER.SEE JOBS' | translate }}</a>
        </header>

        <!--Formas e imagenes del banner-->
        <div class="banner__shapes">
          <ul class="shapes__list">
            <li class="shapes__item shape__item--shape1">
              <div class="shapes__container">
                <img
                  src="/img/banner-shape-1.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>

            <li class="shapes__item shape__item--shape2">
              <div class="shapes__container">
                <img
                  src="/img/banner-shape-2.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>

            <li class="shapes__item shape__item--shape3">
              <div class="shapes__container">
                <img
                  src="img/bubble-16.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>

            <li class="shapes__item shape__item--shape4">
              <div class="shapes__container">
                <img
                  src="/img/bubble-15.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>

            <li class="shapes__item shape__item--shape5">
              <div class="shapes__container">
                <img
                  src="/img/bubble-14.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>

            <li class="shapes__item shape__item--shape6">
              <div class="shapes__container">
                <img
                  src="/img/bubble-16.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>

            <li class="shapes__item shape__item--shape7">
              <div class="shapes__container">
                <img
                  src="/img/bubble-26.png"
                  alt=""
                  class="shapes__img"
                />
              </div>
            </li>
          </ul>
        </div>
      </section>
