
.stats__header{
    text-align: center;
}

.stats__progress{
    display: flex;
    flex-direction:row;
    gap: 3rem;
}

.stats__stat{
    width: 25%;
    text-align: center;
    padding:7rem 2rem ;
    border-radius: 3rem;
    border: 1px solid transparent;
}

.stats__stat:hover{
    background: linear-gradient(180deg, var(--color-bg-dark), var(--color-hover-dark));
    border: 1px solid var(--color-hover-dark);
}

.stat__icon{
    margin-bottom:2rem;
}

.stat__icon > img{
    margin: 0 auto;
    text-align: center;
}

.stat__count{
    display: inline-block;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color--primary);
    margin-bottom: 0.5rem;
    text-align: center;
}

:host-context(.dark)
.stats__title{
    color: var(--color-title);
}

.stat__title{
    text-align: center;
    font-size:2rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-secondary)
}


@media (max-width:1000px){

    .stats__container{
        padding-top: 5rem;
    }

    .stats__subtitle{
        font-size: 1.4rem;
    }

    .stats__progress{
        flex-wrap: wrap;
    }
    .stats__stat{
        width: 45%;
        padding-left: 3rem;
    }

    .stat__count{
        font-size: 4.4rem;
    }

    .stats__description{
        width: 80%;
        font-size: 1.8rem;
    }
}