<section class="layout__stats container-responsive">
        <div class="stats__container">
          <header class="stats__header">
            <h4 class="stats__subtitle">{{ 'STATS.SUBTITLE' | translate }}</h4>
            <h2 class="stats__title">{{ 'STATS.TITLE' | translate }}</h2>
            <p class="stats__description">
              {{ 'STATS.DESCRIPTION' | translate }}
            </p>
          </header>

          <div class="stats__progress">
            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-7.png" alt="" />
              </div>

              <span class="stat__count">+5</span>

              <h6 class="stat__title">{{ 'STATS.YEARS' | translate }}</h6>
            </article>

            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-8.png" alt="" />
              </div>

              <span class="stat__count">+50</span>

              <h6 class="stat__title">{{ 'STATS.COMPLETED_PROJECTS' | translate }}</h6>
            </article>

            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-9.png" alt="" />
              </div>

              <span class="stat__count">+20</span>

              <h6 class="stat__title">{{ 'STATS.PROFESSIONALS' | translate }}</h6>
            </article>
            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/apple.png" alt="" />
              </div>

              <span class="stat__count">+150</span>

              <h6 class="stat__title">{{ 'STATS.CLIENTS' | translate }}</h6>
            </article>
          </div>
        </div>
      </section>
