<section class="layout__stats container-responsive">
        <div class="stats__container">
          <header class="stats__header">
            <h4 class="stats__subtitle">{{ 'STATS.SUBTITLE' | translate }}</h4>
            <h2 class="stats__title">{{ 'STATS.TITLE' | translate }}</h2>
          </header>

          <div class="stats__progress">
            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-7.png" alt="" />
              </div>

              <span class="stat__count">+3</span>

              <h6 class="stat__title">{{ 'STATS.YEARS' | translate }}</h6>
            </article>

            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-8.png" alt="" />
              </div>

              <span class="stat__count">+15</span>

              <h6 class="stat__title">{{ 'STATS.COMPLETED_PROJECTS' | translate }}</h6>
            </article>

            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-9.png" alt="" />
              </div>

              <span class="stat__count">+8</span>

              <h6 class="stat__title">{{ 'STATS.TECHNOLOGIES' | translate }}</h6>
            </article>
            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/apple.png" alt="" />
              </div>

              <span class="stat__count">+30</span>

              <h6 class="stat__title">{{ 'STATS.CHALLENGES_OVERCOME' | translate }}</h6>
            </article>
          </div>
        </div>
      </section>
