<section class="layout__stats container-responsive">
        <div class="stats__container">
          <header class="stats__header">
            <h4 class="stats__subtitle">Agencia de diseño y desarrollo</h4>
            <h2 class="stats__title">Estadisticas de trabajo realizado</h2>
            <p class="stats__description">
              Aqui puedes ver un resumen de nuestras estadisticas en estos años
              de trabajo.
            </p>
          </header>

          <div class="stats__progress">
            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-7.png" alt="" />
              </div>

              <span class="stat__count">+5</span>

              <h6 class="stat__title">Años activos</h6>
            </article>

            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-8.png" alt="" />
              </div>

              <span class="stat__count">+50</span>

              <h6 class="stat__title">Proyectos realizados</h6>
            </article>

            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/icon-9.png" alt="" />
              </div>

              <span class="stat__count">+20</span>

              <h6 class="stat__title">Profesionales</h6>
            </article>
            <article class="stats__stat">
              <div class="stat__icon">
                <img class="" src="/img/apple.png" alt="" />
              </div>

              <span class="stat__count">+150</span>

              <h6 class="stat__title">Clientes contentos</h6>
            </article>
          </div>
        </div>
      </section>
