<section class="layout__clients container-responsive">
        <div class="clients__container">
          <header class="clients__header">
            <h4 class="clients__subtitle">{{ 'CLIENTS.SUBTITLE' | translate }}</h4>
            <h2 class="clients__title">{{ 'CLIENTS.TITLE' | translate }}</h2>
          </header>

          <div class="clients__logos">
            <article class="clients__item">
              <img src="/img/html.png" alt="" class="clients__img" />
            </article>

            <article class="clients__item">
              <img src="/img/css.webp" alt="" class="clients__img" />
            </article>

            <article class="clients__item">
              <img src="/img/js.png" alt="" class="clients__img" />
            </article>

            <article class="clients__item">
              <img src="/img/angular.png" alt="" class="clients__img" />
            </article>
          </div>
        </div>

        <ul class="clients__client-shapes">
          <li class="client-shapes__item client-shapes--shape3">
            <div class="client-shapes__container">
              <img
                src="/img/line-9.png"
                alt=""
                class="client-shapes__img"
              />
            </div>
          </li>
        </ul>
      </section>
